%p#notice= notice
%h1 Candidates
%table
  %thead
    %tr
      %th Name
      %th Last name
      %th Description
      %th{:colspan => "3"}
  %tbody
    - @candidates.each do |candidate|
      %tr
        %td= candidate.name
        %td= candidate.last_name
        %td= candidate.description
        %td= link_to 'Show', candidate
        %td= link_to 'Edit', edit_candidate_path(candidate)
        %td= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Candidate', new_candidate_path
