%p#notice= notice
%p
  %strong Name:
  = @candidate.name
%p
  %strong Last name:
  = @candidate.last_name
%p
  %strong Description:
  = @candidate.description
= link_to 'Edit', edit_candidate_path(@candidate)
|
= link_to 'Back', candidates_path
